.hover {
  background-color: #4AAE9B;
  color: white;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Roboto, sans-serif;

  div {
    width: 500px;
    height: 100px;
  }
}


.autocomplete {
  position: relative;
  width: 130px;
  display: inline-block;

  .autocomplete-results {
    padding: 0;
    margin: 0;
    border: 1px solid #eee;
    height: 500px;
    overflow: auto;
  }

  .autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;

    &:hover {
      @extend .hover;
    }
    &.is-active {
      @extend .hover;
    }
  }


  .autocomplete-clear {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 8px;
    font-style: normal;
    font-size: 1.2em;
    user-select: none;
    cursor: pointer;
  }


  input[type=text] {
    padding-right: 24px;
    width: 100%;
    box-sizing: border-box;
  }

  input::-ms-clear {
    display: none;
  }
}
